@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size:20px;
	line-height: 37px;
	color: #990;
	
}
.box {
	width:325px;
	height:100px;
	background-image: url(../images/LoginBox.jpg);
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	padding:150px 49px 78px 130px;
}
#btn {
	width: 70px;
	height: 70px;
	float:right;
}
#yangzhengmatu
{
	width:80px;
	height:50px;
	float:right;
}
#mentant
{
}
